svg > g[class^="raphael-group-"] > g > path{
    display: none !important;
}
svg > g[class^="raphael-group-"] > g > rect{
    display: none !important;
}
.container{
    text-align: center;
}
.header{
    box-shadow: 10px 3px 1px darkgrey;
}
.btn-mine{
    border: 1px solid #474747 !important;
    font-weight: 500 !important;
}
p{
    display: block;
    font-weight: 400;
    font-size: x-large;
}